<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Web_tasks</display-name>

    <servlet>
        <servlet-name>sample-servlet</servlet-name>
        <servlet-class>ua.rakhmail.hw34.servlet.MainServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>sample-servlet</servlet-name>
        <url-pattern>/sample</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>sandbox-jsp-servlet</servlet-name>
        <jsp-file>/sandbox.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>sandbox-jsp-servlet</servlet-name>
        <url-pattern>/sandbox</url-pattern>
    </servlet-mapping>

<!--    for hw35-->

    <servlet>
        <servlet-name>visits-servlet</servlet-name>
        <servlet-class>ua.rakhmail.hw35.servlet.VisitsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>visits-servlet</servlet-name>
        <url-pattern>/visits</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>statistic-servlet</servlet-name>
        <servlet-class>ua.rakhmail.hw35.servlet.StatisticServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>statistic-servlet</servlet-name>
        <url-pattern>/statistics</url-pattern>
    </servlet-mapping>


</web-app>